h2 {
    font-family: 'Merriweather', serif;
    color: #4A261A;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: #F7E7CE;
    font-size: max(1.5vw, 16px);
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70% !important;
    margin-left: 0;
    margin-right: 15%;
    padding-top: max(10vh, 50px);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 80%;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 45vh;
    margin-top: 5vh;
}

.col-md-6 {
    flex: 0 1 calc(50% - 20px);
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

.description-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(94, 56, 38);
    color: #F7E7CE;
    border: none;
    padding: 2vh;
    border-radius: 25px;
    width: 100%;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-weight: bold;
    text-align: center;
    font-size: max(1vw, 16px);
    cursor: pointer;
}

.description-btn:hover {
    background: #4A261A;
    transform: scale(1.01);
}

.description-btn:active {
    background: #3D1E10;
    transform: scale(0.99);
}

.description-btn.selected {
    background: rgb(114, 76, 58);
    color: antiquewhite;
    transform: scale(1.02);
    border: 4px solid #3D1E10;
    text-align: center;
}

.submit {
    margin-top: 4vh;
    text-align: center;
}

.submit-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    color:black;
    font-size: 1.5rem;
    border-radius: 20px;
    border: 3px solid rgb(92, 65, 48);
    height: max(4vh, 50px);
    width: max(10%, 100px);
}

.submit-btn:hover {
    background-color: rgb(230, 220, 200);
    border: 3px solid rgb(111, 85, 68);
}

/* 
-----------------------------------------NAVBAR-----------------------------------------
*/

.navbar-mp {
    position: fixed;
    left: calc((100% - 30%) / 2);
    transform: translateX(-50%);
}

/* 
-----------------------------------------SIDE PANEL-----------------------------------------
*/

.best-books {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background-color: #3D1E10;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    color: #F7E7CE;
    border-top-left-radius: 40px;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    overflow-y: auto;
}

.two-list {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.left-list {
    width: 50%;
}

.right-list {
    width: 50%;
}

.best-books .upper-section {
    font-size: 1.2rem;
    font-weight: bold;
    flex: 0 1 50%;
    width: 100%;
}

.best-books .divider {
    height: 2px;
    flex-shrink: 0;
    background-color: #6f4f3b;
    width: 100%;
    justify-content: start;
}

.best-books .lower-section {
    font-size: 1.2rem;
    flex: 1;
    margin-top: 1vh;
    width: 100%;
}

.best-books .pick-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7E7CE;
    color: #4A261A;
    border: none;
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
    font-size: max(0.8vw, 14px);
}

@media (max-width: 1300px) {
    .best-books .pick-btn span {
        display: none;
    }
    .best-books .pick-btn img {
        margin-right: 0;
        width: 50px;
    }
    .best-books .pick-btn {
        justify-content: center;
    }
}

img.book-image {
    width: 40px;
    height: 60px;
    object-fit: cover;
    border-radius: 25%;
    margin-right: 10px;
}

.best-books .pick-btn:hover {
    background-color: rgb(94, 58, 46);
    color: #F7E7CE;
}


.best-books .pick-btn:hover .pick-text {
    background-color: #F7E7CE;
    color: #4A261A;
}

.best-books .pick-btn:active {
    transform: scale(0.98);
}

.best-books ul {
    list-style-type: none;
    padding-left: 0;
    max-height: calc(40vh - 1px);
    padding-right: 5%;
}

.best-books .book-entry {
    width: 100%;
    padding: 0;
}

.best-books .rating {
    margin-left: 5%;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F7E7CE;
    color: #4A261A;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    white-space: nowrap;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
    z-index: 1000;
}