{% extends "base.html" %} {% block title %}Final{% endblock %}

{% block links %}
<link 
rel="stylesheet" 
href="static/css/final.css" />
{% endblock %}

{% block navbar_class %}navbar-sp{% endblock %}
{% block navbar %}
<div class="navbar-nav-final">
    <span class="navbar-text">
        <div class="round-box">
            <a class="nav-item nav-link" id="new_sess" href="/">Start Again</a>
        </div>
    </span>
    <span class="session-code">
        <div class="round-box-text">
            Session code: {{ session_code }}
        </div>
    </span>
</div>
{% endblock %}

{% block content %}
<div id="questionModal" class="modal-quest">
    <div class="modal-content">
        <form id="questionForm">
            <h2>Please answer these questions</h2>
            <input type="hidden" name="form_type" value="question_form">
            <label for="question1"> Are you satisfied with the recommendations that were given? </label><br>
            <div class="radio-group">
                <div class="radio-item">
                    <input type="radio" name="question1" value="yes" id="question1-yes" required>
                    <label for="question1-yes">Yes</label>
                </div>
                <div class="radio-item">
                    <input type="radio" name="question1" value="no" id="question1-no">
                    <label for="question1-no">No</label>
                </div>
            </div><br><br>

            <label for="question2"> Was the app easy to use and navigate? </label><br>
            <div class="radio-group">
                <div class="radio-item">
                    <input type="radio" name="question2" value="yes" id="question2-yes" required>
                    <label for="question2-yes">Yes</label>
                </div>
                <div class="radio-item">
                    <input type="radio" name="question2" value="no" id="question2-no">
                    <label for="question2-no">No</label>
                </div>
            </div><br><br>

            <label for="question3"> Was there enough information about the recommended books? </label><br>
            <div class="radio-group">
                <div class="radio-item">
                    <input type="radio" name="question3" value="yes" id="question3-yes" required>
                    <label for="question3-yes">Yes</label>
                </div>
                <div class="radio-item">
                    <input type="radio" name="question3" value="no" id="question3-no">
                    <label for="question3-no">No</label>
                </div>
            </div><br><br>

            <label for="question4"> The answers gave me enough variety to choose from. (1 - disagree, 5 - agree) </label><br>
            <div class="radio-group">
                <div class="radio-item">
                    <input type="radio" name="question4" value="1" id="question4-1" required>
                    <label for="question4-1">1</label>
                </div>
                <div class="radio-item">
                    <input type="radio" name="question4" value="2" id="question4-2">
                    <label for="question4-2">2</label>
                </div>
                <div class="radio-item">
                    <input type="radio" name="question4" value="3" id="question4-3">
                    <label for="question4-3">3</label>
                </div>
                <div class="radio-item">
                    <input type="radio" name="question4" value="4" id="question4-4">
                    <label for="question4-4">4</label>
                </div>
                <div class="radio-item">
                    <input type="radio" name="question4" value="5" id="question4-5">
                    <label for="question4-5">5</label>
                </div>
            </div><br><br>

            <div class="submit">
                <button type="submit" class="submit-btn">Submit</button>
            </div>
        </form>
    </div>
</div>

<div id="myModal" class="modal-demo">
    <div class="modal-content">
        <div class="close">
            <span class="close-btn">&times;</span>
        </div>
        <h2>Enter Your Details</h2>
        <form id="infoForm" action="/final" method="POST">
            <input type="hidden" name="form_type" value="info_form">
            <select name="age_category">
                <option value="">Select Age Category</option>
                <option value="uder 18">under 18</option>
                <option value="18-30">18-30</option>
                <option value="31-50">31-50</option>
                <option value="51-70">51-70</option>
                <option value="70+">70+</option>
            </select>
            <select name="gender">
                <option value="">Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
            <select name="education">
                <option value="">Select Highest Finished Education</option>
                <option value="primary">Primary School</option>
                <option value="secondary">Secondary School</option>
                <option value="high_school">High School</option>
                <option value="bachelor">Bachelor’s Degree</option>
                <option value="master">Master’s Degree</option>
                <option value="doctoral">Doctoral Degree (Ph.D., MD, JD, etc.)</option>
                <option value="other">Other</option>
            </select>
            <input type="email" name="email" placeholder="Enter your email">
            <div class="submit">
                <button type="submit" class="submit-btn">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="main">
    <div class="separator">
        <div class="cont picked">
            <h2 class="mb-2" >
                Books you picked:
            </h2>
            {% for book in picked_books %}
            <div class="booklet">
                <img src="{{ book.cover_image_uri }}" alt="book.title" class="book-image">
                <span>{{book.title}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="separator">
        <div class="cont recom">
            <h2 class="mb-2" >
                More recommendations:
            </h2>
            {% for book in recom_books[:5] %}
            <div class="booklet">
                <img src="{{ book.cover_image_uri }}" alt="book.title" class="book-image">
                <span>{{book.title}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script 
    src="{{ url_for('static', filename='js/demography.js') }}">
</script>
{% endblock %}