{% extends "base.html" %} {% block title %}Bookie{% endblock %}

{% block links %}
<link 
rel="stylesheet" 
href="static/css/home.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css">
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
{% endblock %}

{% block navbar_class %}navbar-sp{% endblock %}
{% block navbar %}
{% endblock %}

{% block content %}
<div class="welcome">
    <div class="description">
        <h2>
            Welcome to Bookie!
        </h2>
        <p>
            Bookie is here to help you discover new books that might interest you. Answer questions to get recommendations on the right-side panel. You can select up to 5 titles from the recommendations. 
            When you have selected 5 books you can click <b>End</b> to finish. Otherwise the application will end automatically after 10 rounds of questions and display the best books for you.
        </p>
        <p>
            You can use the session code, which appears after starting a session, to return to that session anytime. Try to complete two sessions,
            first trying to find a book based on your preferences. For the second session try to find a perfect book for your summer holiday!
        </p>
        <p>
            This project is made as a part of my Bachelor thesis and the data from here will be anonymized and used in it.
        </p>
        <p>
            Start by clicking the button below.
        </p>
    </div>
    <div class="buttons">
        <form class="post-form" action="/" method="POST" onsubmit="showLoader()">
            <button class="btn" 
            id="centered-button" 
            type="submit">
                <i class="bi bi-book"></i> Start
            </button>
        </form>
        <form class="post-form-code" action="/" method="POST" onsubmit="showLoader()">
            <input class="user-code" id="user-code" type="text" name="session_code" placeholder="Enter session code" required>
        </form>
    </div>
</div>

<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            palette: {
                popup: { background: "#000" },
                button: { background: "#f1d600" }
            },
            theme: "classic",
            content: {
                message: "This website uses technical cookies.",
                dismiss: "Got it!",
            }
        });
    });
    </script>
{% endblock %}

