{% extends "base.html" %} {% block title %}Bookie{% endblock %}

{% block links %}
<link 
rel="stylesheet" 
href="static/css/home.css" />
{% endblock %}

{% block navbar_class %}navbar-sp{% endblock %}
{% block navbar %}
{% endblock %}

{% block content %}
<div class="welcome">
    <form action="/" method="POST">
        <button class="btn btn-lg rounded-pill custom-btn align-items-center justify-content-center" id="centered-button" type="submit">
            <i class="bi bi-book"></i> Start
        </button>
    </form>
</div>
{% endblock %}