{% extends "base.html" %} {% block title %}Bookie{% endblock %}

{% block links %}
<link 
rel="stylesheet" 
href="static/css/main_page.css" />
{% endblock %}

{% block navbar_class %}navbar-mp{% endblock %}
{% block navbar %}
<div class="navbar-nav">
    <span class="navbar-text">
        <div class="round-box">
            <a class="nav-item nav-link home" id="new_sess" href="/">New Session</a>
        </div>
    </span>
    <span class="navbar-text-end">
        <div class="round-box">
            <a class="nav-item nav-link" id="end" href="/final">End</a>
        </div>
    </span>
    <span class="session-code">
        <div class="round-box-text">
            Session code: {{ session_code }}
        </div>
    </span>
    <span class="navbar-text">
        <div class="round-box-text">
            {{ round }} / 10
        </div>
    </span>
</div>
{% endblock %}

{% block content %}
<div class="cont">
    <div class="main">
        <h2 class="mp mb-2" >
            Which of these texts best describe what you are looking for in a book?
        </h2>
        <form action="/books" method="post" onsubmit="showLoader()">
            <input type="hidden" name="book_ids" id="book_ids">
            <div class="row justify-content-center">
                {% for index, description in summaries.items() %}
                <div class="col-md-6 mb-4 d-flex">
                    <input type="radio" id="desc{{ index }}" name="answer" value="{{ index }}" class="d-none">
                    <label for="desc{{ index }}" class="description-btn">{{ description }}</label>
                </div>
                {% endfor %}
            </div>
            <div class="btns">
                <div class="bt">
                    <button type="submit" class="submit-btn" id="submit-btn" disabled>Submit</button>
                </div>
                <div class="bt">
                    <button type="submit" value="" class="reset-btn" id="submit-btn" >None of the descriptions fit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="best-books">
        <div class="upper-section">
            <h3>Most relevant books</h3>
            <div class="two-list">
                <ul class="left-list">
                    {% for book in best_books %}
                    <li class="book-entry">
                        <button 
                            class="pick-btn" 
                            type="button" 
                            data-book-id="{{ book.id }}"
                            data-goodreads-id="{{ book.goodreads_id }}"
                            data-book-desc="{{ book.description }}" 
                            data-title="{{ book.title }}"
                            data-tags="{{ bb_tags[book.id] }}"
                            >
                            <img src="{{ book.cover_image_uri }}" alt="book.title" class="book-image">
                            <span class="title">{{ book.title }}</span>
                            <span class="rating">{{ book.avg_rating }}</span>
                        </button>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="right-list">
                    {% for book in sampled_books %}
                    <li class="book-entry">
                        <button 
                            class="pick-btn" 
                            type="button" 
                            data-book-id="{{ book.id }}"
                            data-goodreads-id="{{ book.goodreads_id }}"
                            data-book-desc="{{ book.description }}" 
                            data-title="{{ book.title }}"
                            data-tags="{{ sb_tags[book.id] }}"
                            >
                            <img src="{{ book.cover_image_uri }}" alt="book.title" class="book-image">
                            <span class="title">{{ book.title }}</span>
                            <span class="rating">{{ book.avg_rating }}</span>
                        </button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="divider"></div>
        <div class="lower-section">
            <h3>Selected books</h3>
            <ul>
                {% for book in picked_books %}
                <li class="book-entry">
                    <button 
                        class="pick-btn" 
                        type="button" 
                        data-book-id="{{ book.id }}"
                        data-goodreads-id="{{ book.goodreads_id }}"
                        data-book-desc="{{ book.description }}" 
                        data-title="{{ book.title }}"
                        data-tags="{{ pb_tags[book.id] }}"
                        >
                        <img src="{{ book.cover_image_uri }}" alt="book.title" class="book-image">
                        <span>{{ book.title }}</span>
                        <span class="rating">{{ book.avg_rating }}</span>
                    </button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script 
src="{{ url_for('static', filename='js/select_books.js') }}"
></script>
{% endblock %}