{% extends "base.html" %} {% block title %}Bookie{% endblock %}

{% block content %}
<div class="main">
    <div class="spacer">
        <h2 class="mb-4" >
            Which of these texts best describe what you are looking for in a book?
        </h2>
    </div>
    <form action="/books" method="post">
        <div class="row justify-content-center">
            {% for index, description in summaries.items() %}
            <div class="col-md-6 mb-4 d-flex">
                <button type="submit" name="answer" value="{{ index }}" class="description-btn">
                    {{ description }}
                </button>
            </div>
            {% endfor %}
        </div>
    </form>
</div>
<div class="best-books">
    <h3>Most relevant books</h3>
</div>
{% endblock %}